* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

h6{
    text-align: right;
    padding:30px;
    color:white;
}
header {
    text-align: center;
    padding: 50px;
    background: #222;
    color: white;
}

header h1 {
    font-size: 40px;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

#about .profile-img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    text-align: center;
}

ul li {
    background: #ddd;
    padding: 10px;
    margin: 8px auto;
    width: 200px;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 40px;
}
